.about-container{
    display: flex;
    background: -webkit-gradient(linear, left top, left bottom, from(#C9A9A6), to(#702963)) fixed;
}

.about-text{
    font-size: 25px;
    justify-content: center;

    p{
        width: 600px;
        transform: translateX(-200px);
        color:  #F0F8FF;
        text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
        padding-top: 200px;
    }
}


.anya-about{
    width: 300px;
    height: 300px;
    margin-left: 40%;
    padding-top: 357px;
    transform: translateX(-200px);
}